body {
  background: #f4f4f4;
  font-family: Arial;
}

.container {
  width: 700px;
  margin: auto;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

input {
  width: 95%;
  padding: 10px;
  margin: 8px 0;
}

button {
  padding: 10px 20px;
  background: #0078ff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #005fcc;
}

h1 {
  text-align: center;
}
